/*엔데미김ㄱㅁ김김김기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: black;
	margin: 0;
	padding: 0;
	font-family: 'GmarketSansMedium';
}
body{
	text-align: center;
}

@keyframes op {
  from{opacity: 1;}to{opacity: 0.3;}}

@keyframes sc {
  from{transform:scale(1);}to{transform:scale(0.95);}}

@keyframes ro {
  from{transform:rotate(0deg);}to{transform:rotate(360deg);}}



/*바이러스전체체체체체*/

.full-background{
	width: 100%;
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -100;
}

.archives{
	position: absolute;
	color: red;
	transform: translate(0%, 0%);
	top: 3%;
	left: 2%;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}
.archives .num-arc{
	letter-spacing: 3px;
}

.archives .num{
	color: red;
    padding: 1px 8px 3px 8px;
 	border: 1px solid red;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 15px;
}
.num:hover{
	color: black;
	background: red;
	
}

.bottom-textes{
	position: absolute;
	color: red;
	transform: translate(-50%, -50%);
	bottom: 2%;
	left: 50%;
	font-size: 21px;
	padding: 0px 10px 0px 10px;
    background: rgba(0, 0, 0, 0.7);
}

.icon-right{
	position: absolute;
    height: 100%;
    width: 8%;
    background: linear-gradient(
				 to right,             
				 rgba(20, 20, 20, 0)0%,
            	 rgb(249, 0, 0, 0.6) 100% );
    right: 0%;
    top: 0;
    animation: llight 1.2s infinite alternate;
    z-index: -10

}
.icon-right-full{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 60%;
	background: linear-gradient(
				 to right,             
				 rgba(20, 20, 20, 0)0%,
				 rgb(249, 0, 0, 0.2) 40%,
            	 rgb(249, 0, 0, 1) 100% );
	display: none;
}

.icon-right-bottom{
	position: absolute;
	transform: translate(0,-50%);
	right: 2%;
	bottom: 2%;
	color: red;
	font-size: 1.4em;
}

.backfull{
	width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0;
    z-index: -100;
}

.backfull-em{
	width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: -100;
}


@keyframes llight {
  from{opacity: 1;}to{opacity: 0.5;}}

/*바이러스 섹션*/
.section-wrap{
	height: auto;
	width: 50%;
	color: red;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}
.section-num{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	border: 1px solid red;
    border-radius: 50%;
    width: 60px;
    display: inline-block;
}
.section-text{
	margin-top: 28px;
	font-size: 1.5em;
}




/*바이러스 인덱스스스스ㅡㅅ*/
.index-name{
	color: red;
	font-size: 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	line-height: 38px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 8px;
}

.index-arc{
	color: red;
	font-size: 16px;
	letter-spacing: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	position: absolute;
    transform: translate(-47%, 0%);
}

.webgiff{
	width: 100%;
	height: auto;
	position: absolute;
	transform: translate(0%,-50%);
	top: 50%;
	left: 0%;
	z-index: -100;
	opacity: 0.3;
}

.emtext{
	font-size: 1.5em;
	color: black;
	position: absolute;
	transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
}
.emtext span{
	font-family: 'Roboto', sans-serif;
}
/*엔데믹설명*/
#section-n-wrap{
	width: 550px;
	height: auto;
	 position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 48%;
}
.lotext{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
    text-align: justify;
    color: red;
    letter-spacing: 8px;
}
#section-n{
	margin-top: 20px;
	color: red;
    width: 550px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 32px;
    word-break: normal;
    word-spacing: -2px;
}
#section-n span{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

